.tabs__trigger {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.tabs__trigger[data-state="active"] {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity));
  color: rgb(46 46 46 / var(--tw-text-opacity));
  margin-bottom: -2px;
  border: 1px solid transparent;
}
